.accordion {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .accordion-item {
    margin-top: 20px;
    width: 80%;
    color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;

    .accordion-title {
      background-color: $primary;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-radius: 5px;

      .arrow-down {
        transform: rotate(180deg);
        transition: 0.4s;
      }
    }
    .accordion-content {
      color: $primary;
      font-size: 24px;
      font-weight: 400;
      background-color: $background;
      padding: 10px;
      border-radius: 5px;
      transition: 0.4s;
    }
  }
}

// .active,
// .accordion:hover {
//   background-color: #ccc;
// }

// .panel {
//   padding: 0 18px;
//   background-color: white;
//   max-height: 0;
//   overflow: hidden;
//   transition: max-height 0.2s ease-out;
// }
