.housing {
  .accordions {
    display: flex;
    justify-content: center;
    .description {
      display: flex;
      justify-content: center;
      width: 50%;
    }
    .equipement {
      display: flex;
      justify-content: center;
      width: 50%;
    }
  }
}
@media (max-width: 980px) {
  .housing {
    .accordions {
      flex-direction: column;
      .description {
        display: flex;
        width: 100%;
      }
      .equipement {
        display: flex;
        width: 100%;
      }
    }
  }
}
