// Error page
.wrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: bold;
    color: $primary;
    font-size: 288px;
  }
  h2 {
    font-weight: 500;
    color: $primary;
    font-size: 36px;
  }

  .backlink {
    color: $primary;
    font-size: 18px;
  }
}
