.gallery {
  display: flex;
  justify-content: center;
  .container {
    position: relative;
    width: 90%;
    height: 415px;
    border-radius: 25px;
    background-color: blue;
    overflow: hidden;

    .gallery--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .leftArrow {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(50%, -50%);
      cursor: pointer;
    }
    .rightArrow {
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    .nbPhoto {
      position: absolute;
      bottom: 10px;
      left: 50%;
      font-size: 18px;
      color: white;
    }
  }
}

@media (max-width: 980px) {
  .gallery {
    .container {
      position: relative;
      width: 90%;
      max-height: 350px;

      .leftArrow {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(50%, -50%);
        cursor: pointer;
        width: 20px;
        height: auto;
      }
      .rightArrow {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        width: 20px;
        height: auto;
      }
      .nbPhoto {
        display: none;
      }
    }
  }
}
