$font: "Montserrat", sans-serif;
$primary: #ff6060;

// Error page
.wrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: bold;
    color: $primary;
    font-size: 288px;
    font-family: $font;
  }
  h2 {
    font-weight: 500;
    color: $primary;
    font-size: 36px;
    font-family: $font;
  }

  .backlink {
    color: $primary;
    font-size: 18px;
  }
}
